.question {
  
  text-align: center;
  margin: 1rem 0;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem 0;
  width: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.answer::after, .answer::before {
  content:"";
  position: absolute;
  opacity: 0.3;
  background: black;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.answer:hover{
  transform: translate(-6px,-6px);
}

.answer:hover::after{
  transform: translate(6px,6px);
}

.answer:hover::before{
  transform: translate(3px,3px);
}


.score {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.question_number {
  font-weight: bold;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

@media only screen and (max-width: 500px){
  .answer{
    width: 80%;
    }
  
    
}

